*{margin:0px;
font-family: cursive;
}
p{font-size:20px;
margin:5vh 3%;}
h1{ position:relative;
    left:30%;
    text-align: center;
    width:40%;
    /* background-image: linear-gradient(rgb(0, 75, 238),rgb(136, 255, 255)); */
    box-shadow: -2px 0px 15px rgb(218, 218, 218);
    border:1px solid rgb(218, 218, 218);
    padding: 3vh 0vh;
    color:rgb(85, 85, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:1vh;
}
h3{
    text-align: center;
  
    padding: 3vh 0vh;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:1vh;
}
